
@model Gosh.Models.Recipe
<link href="~/Content/category.css" rel="stylesheet" type="text/css" />

<div class="card" style="display: table-cell;padding-left: 50px; ">


    <img class="img" src="~/images/@Model.HomeImageUrl" width="200" height="270" alt="@Model.HomeImageUrl" />
    <div class="card-body">
        <h2 class="card-title">@Html.DisplayFor(modelItem => Model.Header)</h2>
        <div class="actionContainer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }, htmlAttributes: new { @class = "action" })
            @Html.ActionLink("Details", "Details", new { id = Model.RecipeId }, htmlAttributes: new { @class = "action" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.RecipeId }, htmlAttributes: new { @class = "action" })

        </div>
    </div>

</div>

