@model Gosh.Models.Recipe

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/category.css" rel="stylesheet" type="text/css" />

<div class="row">
    <h2>Delete recipe</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Header)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Header)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Summary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Summary)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HomeImageUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HomeImageUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default action" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
