@model Gosh.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/category.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div>
        <h2>Details of recipe</h2>
    </div>
    <div class="containerD2">
        <hr />
        <div class="col">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Header)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Header)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Summary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>

                <dd  style=" white-space: pre-line;">
                    @Html.DisplayFor(model => model.Content)
                    <br />
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.HomeImageUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HomeImageUrl)

                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>*@

            </dl>
        </div>
        <div class="col">
            <img class="img" style="margin-left:180px;" src="~/images/@Model.HomeImageUrl" width="200" height="270" alt="" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>