@model IEnumerable<Gosh.Models.Recipe>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/category.css" rel="stylesheet" type="text/css" />
<link href="~/Content/recipes.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("Index", "Recipes", FormMethod.Get, new { @class = "searchContainer" }))
    {
        <div class="header">Name:</div>
        @Html.TextArea("Header", new { @class = "searchByName", @placeholder = "Search Recipe..." })
        <span class="space"></span>
        <div class="header">Created After:</div>
        <input type="date" name="created_after" class="searchByName" value=""/>
        <span class="space"></span>
        <div class="header">Category:</div>
        if (ViewBag.categoryId != null)
        {
            @Html.DropDownList("categoryId", null, "Select Category...", htmlAttributes: new { @class = "searchByName", @value = "" })
        }
        <input type="submit" value="Search" class="searchByNameButton" />
    }

@if (Session["Username"] != null && Session["Username"].ToString() == "ADMIN")
{
    <div class="row createNew">
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "createNewButton" })
    </div>
}

<br />




<div class="categoryContainer">
    @if (Model.Count() == 0)
    {
        <tr>
            <td style="color:red">
                No Match Any Document
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="cardContainer">

                <div class="card" style="display: table-cell;padding-left: 25px; ">


                    <img class="img" src="~/images/@item.HomeImageUrl" width="200" height="270" alt="@item.HomeImageUrl" />
                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Header)</h2>
                        <div class="actionContainer">
                            @if (Session["Username"] != null && Session["Username"].ToString() == "ADMIN")
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })
                            }
                            @if (Session["Username"] != null)
                            {
                                @Html.ActionLink("Details", "Details", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })

                            }

                        </div>
                    </div>

                </div>
            </div>
        }

    }
</div>
