@model IEnumerable<Gosh.Models.Recipe>

@{
    ViewBag.Title = "Index";
}
    <link href="~/Content/category.css" rel="stylesheet" type="text/css" />
<div class="row createNew">
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "createNewButton" })
</div>
<br />



<div class="categoryContainer">


    @foreach (var item in Model)
    {
        <div class="cardContainer">

            <div class="card" style="display: table-cell;padding-left: 25px; ">


                <img class="img" src="~/images/@item.HomeImageUrl" width="200" height="270" alt="@item.HomeImageUrl" />
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Header)</h2>
                    <div class="actionContainer">
                        @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })
                        @Html.ActionLink("Details", "Details", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.RecipeId }, htmlAttributes: new { @class = "action" })
                    </div>
                </div>

            </div>
        </div>

    }
</div>
