@using Gosh.Models
@model Gosh.Models.Category

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Category</h4>vb
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            <img class="img" src="~/images/@Model.ImagePath" width="200" height="270" alt="@Url.Content(Model.ImagePath)" />
            @Html.ActionLink("Click here", "ByCategoryID", "Recipes", new { area = "", CategoryID = Html.ValueFor( model => model.ID).ToString() }, new { @class = "navbar-brand" })

        </dd>

        <dt>
            On The Map
        </dt>
        <dd>
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    alt="@Model.RepresetingArea"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAG5D9HBeMoZRSHMu3lBsG4dA_E_a6y9aU
    &q='@Model.RepresetingArea'" allowfullscreen>
            </iframe>
        </dd>
        <dt>
            Weather
        </dt>
        <dd>
            <a class="weatherwidget-io" href="@Url.Content($"https://forecast7.com/en{Model.WeatherHref}")" data-label_1="@Model.RepresetingArea" data-font="Roboto" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="weather_one">@Model.RepresetingArea</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
        </dd>
    </dl>

    <div>
        <h4 class="text-dark">Recipes</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (Recipe r in (List<Recipe>)ViewData["Recipes"])
            {
<h1>omri</h1>
<div class="row">
    @Html.Partial("_RecipeHorizontal", r)
</div>
}
        </dl>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
