@model IEnumerable<Gosh.Models.Category>

@{
    ViewBag.Title = "Index";
}


<link href="~/Content/category.css" rel="stylesheet" type="text/css" />

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>*@

@if (Session["Username"] != null && Session["Username"].ToString() == "ADMIN")
{
    <div class="row createNew">
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "createNewButton" })
    </div>
}
    <br />

    <div class="categoryContainer">
        @foreach (var item in Model)
        {

            @*<tr>
                <td>*@
            <div class="cardContainer">

                <div class="card" style="display: table-cell;padding-left: 25px; ">

                    @*</td>
                        <td>*@
                    @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                    <img class="img" src="~/images/@item.ImagePath" width="200" height="270" alt="@item.ImagePath" />
                    <div class="card-body">
                        <h2 class="card-titles">@Html.DisplayFor(modelItem => item.CategoryName)</h2>
                        <div class="actionContainer">
                            @if (Session["Username"] != null && Session["Username"].ToString() == "ADMIN")
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "action" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "action" })
                            }
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, htmlAttributes: new { @class = "action" })
                        </div>
                    </div>

                    @*</td>
                        <td>*@

                    @*</td>
                        </tr>*@
                </div>
            </div>

        }

        @*</div>*@

    </div>

